{% extends "layout.html" %}

{% block header %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway:400,700" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <div id="bio-photo">
            <img src="/static/img/square-top-lakes.jpg"/>
        </div>
        <div id="biography">
            <p>
                I’ve been obsessed with learning for as long as I can remember. That’s what I love about development—you never stop learning.
            </p>
            <p>
                I began my path to development when I signed up as a chemistry major in college, although I didn’t know it at the time. I loved that subject. I loved the puzzles, the challenge, the math, and having problems to solve that required I hold many pieces of data in my head all at once.
            </p>
            <p>
                After graduating with distinction, I spent several years searching for those same qualities in a career, and I finally stumbled upon it when I was asked to learn some Python at a part-time job. I’ve never looked back. Since then I’ve taken computer science courses, taught myself more Python and Django, and learned ASP.NET MVC and C# at my current job.
            </p>
            <p>
                I currently work for Boulder County as an applications developer intern. I’ve had the honor of redesigning from scratch our intranet’s homepage news system. The application used to write and schedule news to appear on the homepage for all County employees to see was my project start to finish. Aside from writing the code, I got to plan, organize the involved parties, and work with the primary user to make sure I built her exactly what she needed.
            </p>
            <p>
                I pride myself in my ability and drive to put all of my effort into my projects. As a chemist, it was deeply instilled in me to plan ahead, to look at the details, to organize and make sure the whole works together, and to check that everything that can be done the first time through is done so. The detailed note-taking required for lab work also perfectly set me up for writing documentation.
            </p>
            <p>
                In my free time, you’ll find me outdoors hiking, climbing, and taking photos of plants, playing with my cat, volunteering with dogs, singing, and traveling.
            </p>
            <p>
                I’m excited to continue growing as a developer. I am currently looking for employment, and am open to part-time, full-time, and freelance positions. Please don’t hesitate to contact me!
            </p>
        </div>
    </main>
{% endblock %}
