{% extends "layout.html" %}

{% block header %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway:400,700" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1>Contact Me</h1>
    </header>
    <main id="contact">
        <p>
            Please feel free to contact me at:
        </p>
        <p>
             jackie.stonebraker (at) gmail (dot) com
        </p>
        <div>
            <a href="https://www.linkedin.com/in/jackiestonebraker">
                <img src="/static/img/linkedIn34px.jpg"/>
            </a>
            <a href="https://github.com/jackles-1">
                <img src="/static/img/gitHub32px.jpg"/>
            </a>
        </div>
    </main>
{% endblock %}
