{% load static from staticfiles %}

<!doctype html>

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111631978-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111631978-1');
    </script>

    <title>Jackie Stonebraker</title>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway:400,700|Roboto:400,700|Satisfy" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<header class="home">
		<h1>Jackie Stonebraker</h1>
		<hr>
		<p>Tagline</p>
		<span id="arrow">
			<i class="fa fa-arrow-down" aria-hidden="true"></i>
		</span>
	</header>


	<nav class="home">
		<div class="circle">
			<a href="bio" class="bioPic">
			</a>
		</div>
		<div class="circle">
			<a href="portfolio" class="portfolioPic">
			</a>
		</div>
		<div class="circle">
			<a href="resume" class="resumePic">
			</a>
		</div>
		<div class="circle">
			<a href="contact" class="contactPic">
			</a>
		</div>
	</nav>

	<main class="home">
		<p>
            Summary...
            Please feel free to contact me at:
        </p>
        <p>
            jackie.stonebraker (at) gmail (dot) com
        </p>
        <div id="socialMediaLinks">
            <a target="blank" href="https://www.linkedin.com/in/jackiestonebraker">
      			<img src="static/img/linkedIn34px.jpg"/>
    		</a>
    		<a target="blank" href="https://github.com/jackles-1">
    			<img src="static/img/gitHub32px.jpg"/>
    		</a>
        </div>
	</main>
</body>
</html>

<script src="{% static 'js/home.js' %}"></script>
