{% extends 'layout.html' %}

{% block header %}
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Raleway:400,700|Satisfy" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
	<header class="home">
		<h1>Jackie Stonebraker</h1>
		<hr>
		<p>Web developer...</p>
		<span id="arrow">
			<i class="fa fa-arrow-down" aria-hidden="true"></i>
		</span>
	</header>


	<nav class="home">
		<div class="circle">
			<a href="bio.html" class="bioPic">
				<img src="assets/img/bioPic.jpg" />
			</a>
		</div>
		<div class="circle">
			<a href="portfolio.html" class="portfolioPic">
				<img src="assets/img/portfolioPic.jpg" />
			</a>
		</div>
		<div class="circle">
			<a href="resume.html" class="resumePic">
				<img src="assets/img/resumePic.jpg" />
			</a>
		</div>
		<div class="circle">
			<a href="contact.html" class="contactPic">
				<img src="assets/img/contactPic.jpg" />
			</a>
		</div>
	</nav>

	<main class="home">
		<p>Hi there! I am a web developer living in Boulder, Colorado. I am currently...</p>

		<p>*Description*</p>

		<a href="https://www.linkedin.com/in/jackiestonebraker">
  			<img src="assets/img/linkedIn34px.jpg">
			</a>
		<a href="https://github.com/jackles-1">
			<img src="assets/img/gitHub32px.jpg">
		</a>

		<p>NOTE: At this time, this site is optimized for Chrome and Firefox. Mobile and other browser support is in the works!</p>
	</main>
{% endblock %}
